/* Set global styles */
html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

/* Set height for root container */
#root {
  height: 100vh;
}

/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
}

/* Styles for outer container */
.joinOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #1A1A1D;
}

/* Styles for inner container */
.joinInnerContainer {
  width: 20%;
}

/* Styles for input field */
.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}

/* Styles for heading */
.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

/* Styles for button */
.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}